<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Jobify | Home</title>
		<link rel="stylesheet" href="/job_portal/assets/css/style.css" />
	</head>
	<body>
		<nav>
			<a id="home" href="home.html"> Home </a>
			<a id="jobify"> #Jobify </a>
		</nav>
		<div class="row">
			<div class="column">
				<div class="container">
					<img
						src="istockphoto-1215119911-612x612.jpg"
						alt="Company"
						style="width: 100%"
					/>
					<a href="company.html" class="button">Company</a>
				</div>
			</div>
			<div class="column">
				<div class="container">
					<img src="students_image.jpg" alt="Student" style="width: 100%" />
					<a href="student.html" class="button">Student</a>
				</div>
			</div>
		</div>
	</body>
</html>
