<!-- include header -->
<%- include('include/index_header') %>
<!-- /include header -->

<body>
	<nav>
		<a id="home" href="/"> Home </a>
		<a id="jobify"> #Jobify </a>
	</nav>
	<div class="row">
		<div class="column">
			<div class="container">
				<img
					src="img/istockphoto-1215119911-612x612.jpg"
					alt="Company"
					style="width: 100%"
				/>
				<a href="/company" class="button">Company</a>
			</div>
		</div>
		<div class="column">
			<div class="container">
				<img src="img/students_image.jpg" alt="Student" style="width: 100%" />
				<a href="/student" class="button">Student</a>
			</div>
		</div>
	</div>

	<!-- include header -->
	<%- include('include/index_footer') %>
	<!-- /include header -->
</body>
