<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Student Details</title>
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
    <form action="/" method="POST">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Hello</th>
                </tr>
                <tr>
                    <th>email</th>
                    <th>hello@testmail.com</th>
                </tr>
                <tr>
                    <th>cpi</th>
                    <th>8</th>
                </tr>
                <tr>
                    <th>batch</th>
                    <th>2020</th>
                </tr>
                <tr>
                    <th>age</th>
                    <th>19</th>
                </tr>
                <tr>
                    <th>tech-stack</th>
                    <th>HTML,CSS,JS,Node.js</th>
                </tr>  
                
            </thead>
        </table>
    </form>
</body>
</html>