.column {
	float: left;
	width: 49%;
	padding: 6px;
}

.row {
	padding-top: 40px;
}

/* Clear floats after image containers */
.row::after {
	content: "";
	clear: both;
	display: table;
}

nav {
	margin-top: 10px;
	background-color: #26114b;
	overflow: hidden;
}

nav a {
	text-decoration: none;
	font-weight: 700;
	font-family: cursive;
	padding: 15px;
	text-align: center;
	float: right;
	color: rgb(255, 148, 90);
}

#jobify {
	font-size: medium;
	color: rgb(169, 200, 231);
}
#home {
	float: left;
}
#home:hover {
	color: blanchedalmond;
	background-color: dimgrey;
}

/* Container needed to position the button. Adjust the width as needed */
.container {
	position: relative;
	/* width: 50%; */
}

/* Make the image responsive */
.container img {
	width: 100%;
	height: auto;
}

/* Style the button and place it in the middle of the container/image */
.container .button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: transparent;
	color: whitesmoke;
	font-size: 16px;
	padding: 12px 24px;
	border: solid;
	border-color: whitesmoke;
	cursor: pointer;
	border-radius: 5px;
}

.container .button:hover {
	background-color: black;
}

img {
	width: 100%;
}
.login {
	height: 1000px;
	width: 100%;
	background: radial-gradient(#653d84, #332042);
	position: relative;
}
.login_box {
	width: 1050px;
	height: 600px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	border-radius: 10px;
	box-shadow: 1px 4px 22px -8px #0004;
	display: flex;
	overflow: hidden;
}
.login_box .left {
	width: 41%;
	height: 100%;
	padding: 25px 25px;
	overflow: auto;
	max-height: 100vh;
}
.login_box .right {
	width: 59%;
	height: 100%;
}
.left .top_link a {
	color: #452a5a;
	font-weight: 400;
}
.left .top_link {
	height: 20px;
}
.left .contact {
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: center;
	width: 73%;
	margin: auto;
}
.left h3 {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 10px;
}
.left input {
	border: none;
	width: 80%;
	margin: 15px 0px;
	border-bottom: 1px solid #4f30677d;
	padding: 7px 9px;
	width: 100%;
	overflow: hidden;
	background: transparent;
	font-weight: 600;
	font-size: 14px;
}

/* #radiomale {
	border: none;
	width: 80%;
	margin: 15px 0px;
	border-bottom: 1px solid #4f30677d;
	padding: opx;
	width: 100%;
	overflow: hidden;
	background: transparent;
	font-weight: 600;
	font-size: 14px;
} */

label {
	display: block;
	color: #7d7d7d;
}

.floatBlock {
	margin: 0 1.81em 0 0;
}

.labelish {
	color: #7d7d7d;
	margin: 0;
}

.GenderOptions {
	border: none;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	break-before: always;
	margin: 0 0 3em 0;
}

#purchaseOrder {
	margin: 0 0 2em 0;
}

.left {
	background: linear-gradient(-45deg, #dcd7e0, #fff);
}
.submit {
	border: none;
	padding: 15px 70px;
	border-radius: 8px;
	display: block;
	margin: auto;
	margin-top: 120px;
	background: #583672;
	color: #fff;
	font-weight: bold;
	-webkit-box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
	-moz-box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
	box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
}

.submit:hover {
	color: #26114b;
	background-color: rgb(255, 142, 215);
}

.right {
	background: linear-gradient(
			212.38deg,
			rgba(242, 57, 127, 0.7) 0%,
			rgba(175, 70, 189, 0.71) 100%
		),
		url(https://static.seattletimes.com/wp-content/uploads/2019/01/web-typing-ergonomics-1020x680.jpg);
	color: #fff;
	position: relative;
}

.right .right-text {
	height: 100%;
	position: relative;
	transform: translate(0%, 45%);
}
.right-text h2 {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 50px;
	font-weight: 500;
}
.right-text h5 {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 19px;
	font-weight: 400;
}

.right .right-inductor {
	position: absolute;
	width: 70px;
	height: 7px;
	background: #fff0;
	left: 50%;
	bottom: 70px;
	transform: translate(-50%, 0%);
}
.top_link img {
	width: 28px;
	padding-right: 7px;
	margin-top: -3px;
}
